/*全体*/
.inner-box {
    width: 1080px;
    background: #fff;
    margin: auto;
}

/*ヘッダー部分*/

/*ヘッダー全体*/
.header {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #b3afaf;
}
/*タイトル*/
.header_ttl {
    margin-left: 25%;
}

.header_ttl_h1 {
    color: #000;
    font-family: "Estonia", cursive;
    font-size: 35px;
}
/*ナビ*/
.nav {
    display: flex;
    margin-right: 20%;
}

/*名前領域*/
.nav_list {
    display: flex;
    margin-right: 50px;
    margin-top: 7%;
}

.nav_item {
    /*アイコンそれぞれの箱*/
    list-style: none;
    margin-left: 40px;
}

.nav_item_a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
/*ヘッダーのアイコン*/
.header_icon_img {
    width: 25px;
    height: 25px;
}

.header_icon_img:hover {
    opacity: 0.5;
}
/*ここまで*/

/*投稿された画像 部分*/
/*メイン　インナー*/
.main_inner {
    margin-top: 15%;
}
/*画像横スクロール*/

/*スクロールのbox*/
.slid_box {
    display: flex;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 900px;
    height: 700px;
    padding: 0;
    margin: 1rem auto;
    box-sizing: unset;
    border: 3px solid #696969;
    border-radius: 6px;
    display: flex;
}

/**/
/**/
.slide {
    width: 900px;
    height: 700px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.slider .slide img {
    padding: 0;
    margin: 0;
    width: 900px;
    height: 700px;
}

.slider .slide ul {
    width: 1248px;
    height: 700px;
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    font-size: 0;
    position: relative;
}
.slider .slide li {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    transition: 0.7s cubic-bezier(0.45, 0.06, 0.32, 1);
}

.controller {
    display: flex;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

/*矢印　左右*/
.controller .prev-btn {
    cursor: pointer;
    color: #696969;
    background: #eee;
}
.controller .next-btn {
    margin-right: 3rem;
    cursor: pointer;
    color: #696969;
}
/*矢印左*/
.prev-btn {
    margin-top: 30%;
    margin-right: 10px;
    cursor: pointer;
    color: #696969;
}

/*右*/
.next-btn {
    margin-top: 30%;
    cursor: pointer;
    color: #696969;
}

/*画像*/
.item_img {
    width: 100%;
    height: 100%;
}
/*スライドで表示される順番*/
.slide_img_first {
    display: none;
}

.slide_img_list {
    display: block;
}
/*スライドで表示される順番ここまで*/
/**/
.controller .indicator {
    display: flex;
    width: 80px;
    height: 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: #696969;
    border-radius: 10px;
}

.indicator {
    display: flex;
    justify-content: center;
}

.indicator span {
    width: 8px;
    height: 8px;
    background: #b3afaf;
    border-radius: 50%;
    padding: 0;
    margin: 0 4px 0 4px;
}

#active {
    background: red;
}

/*投稿写真説明*/

/*テキストエリアの箱*/
.item_discription {
    width: 900px;
    margin: 2% auto 0;
}
/*テキストエリア本体*/
.textarea {
    width: 100%;
    border: 3px solid #eee;
}

/*いいね、コメントエリア箱*/
.message_area {
    width: 900px;
    border: 1px solid #eee;
    margin: 0 auto;
    padding: 10px 0px;
}
/*いいね、コメントアイコン*/
.icon_area_list {
    display: flex;
}
.icon_area {
    width: 900px;
}

.massage_icon_li {
    width: 25px;
    height: 25px;
    list-style: none;
    margin-left: 5%;
}

.massage_icon {
    width: 25px;
    height: 25px;
}

/*削除ボタン*/

.form_delete_icon {
    margin: 0px 0px 0px 500px;
}

.delete_button {
    display: block;
    width: 50px;
    text-align: center;
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 6px 8px;
    background-color: #696969;
    color: #fff;
    margin: 0 auto;
}

.delete_button:hover {
    background-color: #b3afaf;
    border: 1px solid #b3afaf;
}
