.inner-box {
    width: 960px;
    background: #fff;
    margin: auto;
}

/*ヘッダー全体*/
.header {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #b3afaf;
}
/*タイトル*/
.header_ttl {
}

.header_ttl_h1 {
    color: #000;
    font-family: "Estonia", cursive;
    font-size: 35px;
}
/*ナビ*/
.nav {
    display: flex;
}

/*名前領域*/
.nav_list {
    display: flex;
    margin-right: 50px;
    margin-top: 7%;
}

.nav_item {
    /*アイコンそれぞれの箱*/
    list-style: none;
    margin-left: 40px;
}

.nav_item_a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
/*ヘッダーのアイコン*/
.header_icon_img {
    width: 25px;
    height: 25px;
}

.header_icon_img:hover {
    opacity: 0.5;
}
/*ヘッダーここまで*/

/**/
/*画像、名前*/
/*編集画面ここから*/
.my_img_name_box {
    width: 100%;
    margin: 40px 20px;
}

.my_img_edit {
    width: 30%;
}

.my_img_box {
    width: 180px;
    height: 180px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
}

.my_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/*プロフィール編集*/
.my_name_age {
    margin: 30px 0px;
}
.pro_textarea_box {
    width: 100%;
}

/**/
.name_area {
    font-size: 15px;
    font-weight: bold;
    padding: 7px 10px;
    margin-bottom: 30px;
}

.textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

/*メール　住所　編集ホーム*/

.edit_text {
    position: relative;
    width: 90%;
    margin: 40px 3%;
}

.edit_text input[type="text"] {
    font: 15px/24px sans-selif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000;
    border: 1px solid #1b2538;
    border-radius: 4px;
}

.label input[type="text"]:focus {
    border: 5px solid #da3c41;
    outline: none;
}

/*保存　送信ボタン*/
.send_btn {
    margin: 30px 0px;
    text-decoration: none;
    border: none;
    text-align: center;
}

.send_button {
    background: #eee;
    padding: 0.5em 4em;
    color: #000;
    border-radius: 4px;
    border: 1px solid #000;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
}

.send_button:hover {
    color: #fff;
    background: #696969;
}

.text_box {
    width: 500px;
    display: flex;
}

/**/
/**/
/**/
.sub_item {
    padding: 80px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

label {
    margin-right: 20px;
}
