.inner-box {
    width: 960px;
    background: #fff;
    margin: auto;
}

/*ヘッダー全体*/
.header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 960px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #b3afaf;
    margin: 0 auto;
}
/*タイトル*/
.header_ttl {
}

.header_ttl_h1 {
    color: #000;
    font-family: "Estonia", cursive;
    font-size: 35px;
}
/*ナビ*/
.nav {
    display: flex;
}

/*名前領域*/
.nav_list {
    display: flex;

    margin-top: 10%;
}

.nav_item {
    /*アイコンそれぞれの箱*/
    list-style: none;
    margin-right: 30px;
}

.nav_item_a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
/*ヘッダーのアイコン*/
.header_icon_img {
    width: 25px;
    height: 25px;
}

.header_icon_img:hover {
    opacity: 0.5;
}
/*ヘッダーここまで*/

/*トップ全体の箱*/
.top {
    height: 250px;
    width: 960px;
    background: #fff;
    margin-top: 12%;
}
/*トップ中身の箱*/
.top_inner {
    width: 100%;
    display: flex;
    background: #fff;
}

/*左*/
.top_my_img_area {
    width: 30%;
    height: 250px;
}

.top_img_box {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 35px 35px;
}

.top_my_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/*右*/ /*名前、投稿数、フォロー、フォロワー*/
.toptext_area {
    width: 70%;
    height: 250px;
}
/*フォローフォロワー*/
.follow_form {
    margin-top: 30px;
}

.follow_number {
    font-weight: bold;
    font-size: 15px;
    margin-left: 50px;
    /*navフォント*/
    font-family: "Estonia", cursive;
    font-family: "Source Sans Pro", sans-serif;
}

/*名前、自己紹介*/
.name_area {
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.form_area {
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
}

.form_area_2 {
    margin-top: 25px;
    margin-left: 50px;
}
/*自己紹介*/
.textarea {
    margin-top: 20px;
    border: 1px solid #eee;
}

/**/
/**/
/*メイン  タブ*/
.tab {
    width: 960px;
}
.tab-menu {
    display: flex;
}
/*タブのブロックの形*/
.tab-menu__item {
    text-align: center;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid rgb(106, 100, 100);
}
.tab-menu__item:not(:first-child) {
    border-left: none;
}
/*タブブロックの中の色*/
.tab-menu__item.active {
    background: #eee;
    color: white;
}
/*タブ内のアイコン*/
.icon_img {
    width: 30px;
    height: 30px;
}

.tab-menu__item:hover {
    background: #eee;
}
/*タブの中、コンテンツ全体*/
.tab-content {
    border-top: 1px solid #eee;
    border-radius: 5px;
}
.tab-content__item {
    display: none;
    font-size: 40px;
}
.tab-content__item.show {
    display: block;
}
/*タブ枠ここまで*/
/*コンテンツ中身１*/
.content1_inenr {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.content1_box {
    width: 270px;
    height: 270px;
    margin: 10px 25px;
}

.content1_img_area {
    width: 270px;
    height: 240px;
    border-radius: 5px;
}

.content1_img {
    width: 270px;
    height: 240px;
    padding: 10px 10px;
    border-radius: 5px;
}

.content1_img:hover {
    opacity: 0.5;
}

/*コンテンツ１　投稿した　リストタイトル*/
.my_postlist {
    font-size: 15px;
    font-weight: bold;
    margin-left: 18%;
}
/*コンテンツ２　いいねしたリストタイトル*/
.my_likelist {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
/*コンテンツ３　設定タイトル*/
.my_seting {
    font-size: 15px;
    font-weight: bold;
    margin-left: 82%;
}

/*コンテンツ中身２*/
/*コンテンツ中身３*/
